body {
		font-family: Mina;
		background-color: black;
		color: white;
		text-align: center;
	}

.table-style {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

p{
	text-align: center;
}

h1 {
	text-align: center;
	text-decoration: underline;
}
 /*#follow img{
 	width: 10%	;
 	height: 200px;
 }*/

 #article{
 	width: 30%;
 	display: inline-block;
 }

 #article p{
 	border: 1px solid white;
 	padding: 10px;
 	margin: 5px;
 	font-family: 'Raleway';
 }

 a {
 	color: inherit;
 	text-decoration: none;	
 }

 #project {
 	width: 40%;
 	border: 1px dashed white;
 	padding: 10px;
 	margin: 10px;
 }